{{- $catppuccin := (promptChoice "Catppuccin palette" (list "latte" "frappe" "macchiato" "mocha") "macchiato") -}}

[data]
name = "Clayton Gilmer"
email = "netadr_t@outlook.com"
catppuccin = "{{ $catppuccin }}"
editor = "hx"

[data.packages]
{{- if eq .chezmoi.os "windows" }}
winget = [
	"ajeetdsouza.zoxide",
	"AmN.yasb",
	"astral-sh.ruff",
	"astral-sh.uv",
	"BurntSushi.ripgrep.MSVC",
	"Casey.Just",
	"Discord.Discord",
	"Git.Git",
	"Gyan.FFmpeg",
	"Helix.Helix",
	"Henry++.simplewall",
	"IDRIX.VeraCrypt",
	"ImageMagick.ImageMagick",
	"jqlang.jq",
	"junegunn.fzf",
	"Kitware.CMake",
	"LGUG2Z.komorebi",
	"LGUG2Z.whkd",
	"LLVM.LLVM",
	"M2Team.NanaZip",
	"Microsoft.PowerShell",
	"Microsoft.PowerToys",
	"Microsoft.VisualStudio.2022.Community.Preview",
	"Microsoft.VisualStudioCode",
	"mpv.net",
	"Ninja-build.Ninja",
	"Obsidian.Obsidian",
	"OBSProject.OBSStudio",
	"OpenWhisperSystems.Signal",
	"Premake.Premake.5.Beta",
	"Rclone.Rclone",
	"Rustlang.Rustup",
	"sharkdp.fd",
	"Starship.Starship",
	"Sweetscape.010Editor",
	"sxyazi.yazi",
	"Valve.Steam",
	"wez.wezterm",
	"WinFsp.WinFsp",
	"WinsiderSS.SystemInformer"
]
{{- end }}
