{{ if eq .chezmoi.os "windows" }}
{{ if .packages.winget }}

function wingetInstallIfNotInstalled($id)
{
    winget list --exact --id $id
    
    if (-not $?) { winget install --exact --id $id --interactive }
}

$wingetPackages = {{ .packages.winget | quoteList | join "," }}
Write-Host "Installing winget packages..."

foreach ($package in $wingetPackages)
{
    wingetInstallIfNotInstalled($package)
}

{{ end }}
{{ end }}
